@mixin bp($type) {
  @if $type == small {
    @media screen and (min-device-width: 320px) and (max-device-width: 768px), screen and (min-width: 320px) and (max-width: 768px) {
      @content;
    }
  }
  
  @if $type == medium {
    @media screen and (min-device-width: 570px) and (max-device-width: 768px), screen and (min-width: 570px) and (max-width: 768px) {
      @content;
    }
  }
}

@mixin shadow-bottom($opacity:0.23) {
  -webkit-box-shadow: -1px 3px 22px 5px rgba(0,0,0,$opacity);
  -moz-box-shadow: -1px 3px 22px 5px rgba(0,0,0,$opacity);
  box-shadow: -1px 3px 22px 5px rgba(0,0,0,$opacity);
}

@mixin shadow-top($opacity:0.38) {
  -webkit-box-shadow: 1px -15px 30px -9px rgba(0,0,0,$opacity);
  -moz-box-shadow: 1px -15px 30px -9px rgba(0,0,0,$opacity);
  box-shadow: 1px -15px 30px -9px rgba(0,0,0,$opacity);
}
