$accent-color: #cc3333;

/*
  TOP-MENU
*/
$topm-bg-color: $accent-color;
$topm-text-color: #fff;
$topm-font-family: "quicksand-regular", "arial", "sans-serif";

/*
  FOOTER
*/
$footer-bg: #444;
$footer-text-color: #fff;

/*
  TIMELINE
*/

$dot_color: #444;
$dot_border: #ccc;
$dot_border_dim: 5px;
$dot-dim: 25px;

$line_width: 6px;
$line_offset: 50.75%;

$component-distance: 5%;

$content_bg: #2052DA;
$content_font_color: #fff;

$date_bg: goldenrod;
$date_font_color: #fff;

$arrow_dim: 15px;

/*
  CATEGORY PAGES
*/

$cat-header-height: 320px;
