$accent-color: #cc3333;
$heading-font-family: "liberation-serif-regular", "stix-regular", "Times New Roman", serif;
$body-base-font: "liberation-sans-regular","Helvetica", "arial", sans-serif;

/*
  TOP-MENU
*/
$topm-bg-color: $accent-color;
$topm-text-color: #fff;
$topm-font-family: $body-base-font;

$topm-top-offset: 0.8%;

/*
  FOOTER
*/
$footer-bg: #444;
$footer-text-color: #fff;

/*
  TIMELINE
*/

$line_width: 6px;
$line_offset: 50.75%;
$line-color: $accent-color;

$dot_color: #fff;
$dot_border: $line-color;
$dot_border_dim: 5px;
$dot-dim: 25px;


$component-distance: 5%;

$content_bg: #444;
$content_font_color: #fff;

$date_bg: $accent-color;
$date_font_color: #fff;

$arrow_dim: 15px;

/*
  CATEGORY PAGES
*/

$cat-header-height: 320px;
