$accent-color: #cc3333;

/*
  TOP-MENU
*/
$topm-bg-color: $accent-color;
$topm-text-color: #fff;
$topm-font-family: "quicksand-regular", "arial", "sans-serif";

/*
  FOOTER
*/
$footer-bg: #444;
$footer-text-color: #fff;
