@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

@import "variables";
@import "functions";

.intro-section {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
  .heading-group {
    padding: 2% 0;
  }
    .heading-group h1 {
      font-size: 8rem;
      margin: .4em 0;
      background: rgba(0,0,0,0.8);
      padding: 1%;
      color: #fff;
    }

    .heading-group h1:first-child {
      width: 18%;
    }

    .heading-group h1:nth-child(2) {
      width: 87%;
    }

    .heading-group h1:last-child {
      width: 37%;
    }

.timeline-section {
  position: relative;
  padding-top: 4%;
}
.congress-heading {  
  text-align: center;
  margin-bottom: 20px;
}

.congress-heading.fixed {
  @include shadow-bottom();
  position: fixed;
  background-color: #fff;
  width:100%;
  top: 52px;
  z-index: 998;
}

  .congress-heading h1 {
    @include span-columns(10.5);
  }  
  .congress-heading.fixed h1 {
    margin-bottom: 0;
    
  }
  .congress-heading .inner {
    @include outer-container;
    position: relative;
  }

  .menu-trigger-container {
    @include span-columns(1.5);
    
    z-index: 101;
  }

  .menu-trigger {
    text-decoration: none;
    font-size: 2em;
    color: #444;

  }

  .menu-trigger  .fa {
    transition: 0.3s ease;
  }

.menu-trigger:hover .fa {
  transform: rotate(270deg);
  transition: 0.3s ease;
}
.congress-container {
  position: relative;
}

  .timeline-line {
    height: 100%;
    width: $line_width;
    background-color: $line-color;
    position: absolute;
    left: $line_offset;
  }


.timeline-item {
  @include outer-container;
  margin-bottom: 2%;
}

  .timeline-item.marker h2 {
    text-align: center;
    z-index: 100;
    position: relative; 
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
  }

  .timeline-item .date-block,
  .timeline-item .content-block {
    position: relative;
    box-sizing: border-box;
  }

  .timeline-item .dot-block {
    position: absolute;
    text-align: center;
    left: 50%;
  }

  @include direction-context(left-to-right) {
    .timeline-item.left .date-block,
    .timeline-item.right .content-block {
        @include span-columns(6, block-collapse);
    }

    .timeline-item.right .content-block {
      width: 51.17883%;
    }
  }

  @include direction-context(right-to-left) {
    .timeline-item.left .content-block,
    .timeline-item.right .date-block {
      @include span-columns(6, block-collapse);
    }

    .timeline-item.right .date-block {
        width:  48.82117%;
    }
  }

.timeline-item.left .date-block,
.timeline-item.right .content-inner {
  text-align: right;
}

.timeline-item.left .date-container {
  margin-right: $component-distance;
}

.timeline-item.left .content-inner,
.timeline-item.right .date-container {
  margin-left: $component-distance;
}


.timeline-item.right .date-block {
  text-align: left;
}


.timeline-item .content {
  background: $content_bg;
  color: $content_font_color;
  padding: 1.5%;
  position: relative;
  display: inline-block;
}

 .timeline-item.right .arrow {
  width: 0;
  height: 0;
  border-top: $arrow_dim solid transparent;
  border-bottom: $arrow_dim solid transparent;
  border-left: $arrow_dim solid darken($content_bg, 10%);
  display: inline-block;
  position: absolute;
  top: 0;
}

 .timeline-item.left .arrow {
  width: 0;
  height: 0;
  border-top: $arrow_dim solid transparent;
  border-bottom: $arrow_dim solid transparent;
  border-right: $arrow_dim solid darken($content_bg, 10%);
  display: inline-block;
  position: absolute;
  top: 0;
  right: 100% - $component-distance;
}

.timeline-item .dot {
  width: $dot_dim;
  height: $dot_dim;
  border: $dot_border_dim $dot_border solid;
  background-color: $dot_color;
  margin: 0 auto;
  border-radius: 100%;
  cursor:pointer;
}

.timeline-item .dot:hover {
  transform: scale(1.4);
  transition: 0.1s ease;
}


.timeline-item .date-container {
  display: inline-block;
  padding: 1%;
  color: $date_font_color;
  background-color: $date_bg;
  font-weight: bolder;
}

@include bp(small) {
  
  .congress-heading.fixed {
	top:24px;
  }
  
  .timeline-item:nth-child(2) {
    margin-top: 20px;
  }
  
  .timeline-item .dot-block {
	 display: none;
  }
  
  .timeline-item.left  .date-block,
  .timeline-item.left  .content-block,  
  .timeline-item.right .date-block,
  .timeline-item.right .content-block  {
	 width: 100% !important;
  }
  
  .timeline-item .content {
    display: block;
  }
  
  .timeline-item.left   .arrow,
  .timeline-item.left   .arrow,  
  .timeline-item.right  .arrow,
  .timeline-item.right  .arrow  {
    display: none;
  }
	
  .timeline-item .date-container {
    display: block;
    text-align: center;
  }
  
  .timeline-item.left .date-container {
    margin-right: 0;
  }

  .timeline-item.left .content-inner,
  .timeline-item.right .date-container {
    margin-left: 0;
  }
  
  .timeline-item.right .content-inner {
    text-align: left;
  }

  .congress-heading h1,
  .menu-trigger-container {
    @include span-columns(12);
  } 

}
