/* line 4, ../_sass/vendor/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../_sass/vendor/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 5, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "stix-regular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/stix-regular/stix-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/stix-regular/stix-regular-webfont.woff2") format("woff2"), url("fonts/stix-regular/stix-regular-webfont.woff") format("woff"), url("fonts/stix-regular/stix-regular-webfont.ttf") format("truetype"), url("fonts/stix-regular/stix-regular-webfont.svg#stix-regular") format("svg");
}
@font-face {
  font-family: "quicksand-regular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/quicksand-regular/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-regular/quicksand-regular-webfont.woff2") format("woff2"), url("fonts/quicksand-regular/quicksand-regular-webfont.woff") format("woff"), url("fonts/quicksand-regular/quicksand-regular-webfont.ttf") format("truetype"), url("fonts/quicksand-regular/quicksand-regular-webfont.svg#quicksand-regular") format("svg");
}
@font-face {
  font-family: "quicksand-bold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/quicksand-bold/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-bold/quicksand-bold-webfont.woff2") format("woff2"), url("fonts/quicksand-bold/quicksand-bold-webfont.woff") format("woff"), url("fonts/quicksand-bold/quicksand-bold-webfont.ttf") format("truetype"), url("fonts/quicksand-bold/quicksand-bold-webfont.svg#quicksand-bold") format("svg");
}
/* line 1, ../_sass/_overrides.scss */
strong {
  font-weight: bolder;
}

/* line 5, ../_sass/_overrides.scss */
i, cite, em, var, address, dfn {
  font-style: italic;
}

/* line 9, ../_sass/_overrides.scss */
pre, xmp, plaintext, listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

/* line 16, ../_sass/_overrides.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 21, ../_sass/_overrides.scss */
tt, code, kbd, samp {
  font-family: monospace;
}

/* line 25, ../_sass/_overrides.scss */
dt {
  font-weight: bold;
}

/* line 29, ../_sass/_overrides.scss */
dd {
  padding-left: 4%;
}

/*
  TOP-MENU
*/
/*
  FOOTER
*/
/*
  TIMELINE
*/
/* line 1, ../_sass/components/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 5, ../_sass/components/_typography.scss */
body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "quicksand-regular";
}

/* line 12, ../_sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: "stix-regular";
}

/* line 18, ../_sass/components/_typography.scss */
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

/* line 19, ../_sass/components/_typography.scss */
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

/* line 20, ../_sass/components/_typography.scss */
h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

/* line 21, ../_sass/components/_typography.scss */
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

/* line 22, ../_sass/components/_typography.scss */
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

/* line 23, ../_sass/components/_typography.scss */
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (min-width: 550px) {
  /* line 26, ../_sass/components/_typography.scss */
  h1 {
    font-size: 5.0rem;
  }

  /* line 27, ../_sass/components/_typography.scss */
  h2 {
    font-size: 4.2rem;
  }

  /* line 28, ../_sass/components/_typography.scss */
  h3 {
    font-size: 3.6rem;
  }

  /* line 29, ../_sass/components/_typography.scss */
  h4 {
    font-size: 3.0rem;
  }

  /* line 30, ../_sass/components/_typography.scss */
  h5 {
    font-size: 2.4rem;
  }

  /* line 31, ../_sass/components/_typography.scss */
  h6 {
    font-size: 1.5rem;
  }
}
/* line 34, ../_sass/components/_typography.scss */
p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 1, ../_sass/components/_headers.scss */
.navi-wrapper {
  background-color: #cc3333;
  position: relative;
}

/* line 5, ../_sass/components/_headers.scss */
.navi-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* line 12, ../_sass/components/_headers.scss */
.navi-wrapper .menu-ifoi-container,
.navi-wrapper > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.navi-wrapper .menu-ifoi-container::after,
.navi-wrapper > div::after {
  clear: both;
  content: "";
  display: table;
}

/* line 16, ../_sass/components/_headers.scss */
.navi-wrapper .trigger {
  display: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

/* line 22, ../_sass/components/_headers.scss */
.navi-wrapper .menu {
  list-style: none;
  text-align: left;
}

/* line 26, ../_sass/components/_headers.scss */
.navi-wrapper .menu li {
  display: inline-block;
  margin: 0 0.5%;
  padding: .3% .5%;
  position: relative;
  min-width: 18%;
  text-align: center;
}

/* line 34, ../_sass/components/_headers.scss */
.navi-wrapper li:hover {
  background: #a32929;
}

/* line 38, ../_sass/components/_headers.scss */
.navi-wrapper li.current_page_item,
.navi-wrapper li.current-menu-item {
  background: #a32929;
}

/* line 43, ../_sass/components/_headers.scss */
.navi-wrapper li.current-menu-item a,
.navi-wrapper li.current_page_item a {
  font-style: italic;
}

/* line 48, ../_sass/components/_headers.scss */
.navi-wrapper a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "quicksand-regular", "arial", "sans-serif";
}

/* line 55, ../_sass/components/_headers.scss */
.navi-wrapper .menu a[title="Performance Tracker"] {
  font-weight: bolder;
}

/* line 59, ../_sass/components/_headers.scss */
.navi-wrapper .sub-menu {
  display: none;
}

/* line 62, ../_sass/components/_headers.scss */
.navi-wrapper .sub-menu > li {
  width: 100%;
  padding: 0 27%;
}

/* line 66, ../_sass/components/_headers.scss */
.navi-wrapper li:hover > .sub-menu {
  display: block;
  position: absolute;
  z-index: 100;
  background-color: #cc3333;
  padding-top: 10px;
  margin-top: 3px;
  left: 0;
}

/* line 76, ../_sass/components/_headers.scss */
.page-header-wrapper {
  background-color: #fff;
}

/* line 79, ../_sass/components/_headers.scss */
.page-header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: .5% 0;
  background: #fff;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.page-header::after {
  clear: both;
  content: "";
  display: table;
}

/* line 84, ../_sass/components/_headers.scss */
.page-header .logo-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.page-header .logo-wrapper:last-child {
  margin-right: 0;
}

/* line 87, ../_sass/components/_headers.scss */
.page-header .logo-wrapper img {
  width: 40%;
}

/* line 90, ../_sass/components/_headers.scss */
.page-header .search-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  text-align: right;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.page-header .search-wrapper:last-child {
  margin-right: 0;
}

/* line 94, ../_sass/components/_headers.scss */
.search-form {
  margin-top: 2%;
}

/* line 97, ../_sass/components/_headers.scss */
.search-form label {
  border: 2px #444 solid;
  padding: 1%;
}

/* line 102, ../_sass/components/_headers.scss */
.search-form input[type="search"] {
  border: none;
  padding: 0;
}

/* line 107, ../_sass/components/_headers.scss */
.search-form input[type="search"]:focus {
  outline: none;
}

/* line 111, ../_sass/components/_headers.scss */
.search-form button {
  background: none;
  border: none;
  cursor: pointer;
}

/* line 117, ../_sass/components/_headers.scss */
.cat-header.congtrack {
  min-height: 320px;
  color: #fff;
  margin-bottom: 1%;
}

/* line 122, ../_sass/components/_headers.scss */
.cat-header.congtrack .content {
  padding: 1.5% 0;
}

/* line 125, ../_sass/components/_headers.scss */
.cat-header.congtrack a {
  color: inherit;
}

/* line 132, ../_sass/components/_headers.scss */
.cat-header.congtrack .latest-title {
  margin-bottom: 0;
}

/* line 135, ../_sass/components/_headers.scss */
.cat-header.congtrack .latest p {
  font-size: 1.4em;
}

/* line 138, ../_sass/components/_headers.scss */
.cat-header.congtrack .latest-info {
  padding: 0 0 1.2% 0;
}

/*
  MEDIA QUERIES
*/
@media screen and (min-device-width: 320px) and (max-device-width: 568px), screen and (min-width: 320px) and (max-width: 568px) {
  /* line 149, ../_sass/components/_headers.scss */
  .navi-wrapper .trigger {
    display: block;
  }

  /* line 153, ../_sass/components/_headers.scss */
  .navi-wrapper .trigger .fa {
    transition: all 0.5s;
    margin-right: 5px;
  }

  /* line 158, ../_sass/components/_headers.scss */
  .navi-wrapper .trigger.twist .fa {
    transform: rotate(90deg);
  }

  /* line 162, ../_sass/components/_headers.scss */
  .navi-wrapper .menu.expand {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
  }

  /* line 169, ../_sass/components/_headers.scss */
  .navi-wrapper .menu {
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
    max-height: 0;
  }

  /* line 176, ../_sass/components/_headers.scss */
  .navi-wrapper .menu li {
    display: block;
    text-align: center;
  }

  /* line 181, ../_sass/components/_headers.scss */
  .navi-wrapper .menu li:hover .sub-menu {
    position: static;
  }

  /* line 185, ../_sass/components/_headers.scss */
  .navi-wrapper .menu li.menu-item-has-children > a::after {
    content: " >";
    font-weight: bold;
  }
}
/* line 1, ../_sass/components/_pages.scss */
body {
  min-height: 100vh;
  position: relative;
}

/* line 6, ../_sass/components/_pages.scss */
.container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 9, ../_sass/components/_pages.scss */
.container.full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.container.full::after {
  clear: both;
  content: "";
  display: table;
}

/* line 13, ../_sass/components/_pages.scss */
.outer-wrapper {
  min-height: 100vh;
}

/* line 17, ../_sass/components/_pages.scss */
body.home {
  background-color: #444;
}

/* line 21, ../_sass/components/_pages.scss */
body.home .outer-wrapper {
  min-height: auto;
}

/* line 25, ../_sass/components/_pages.scss */
body.home .owl-carousel .item {
  position: relative;
}

/* line 29, ../_sass/components/_pages.scss */
body.home .owl-carousel .owl-carousel-item-imgoverlay {
  position: absolute;
  top: 45%;
  background-color: transparent !important;
  opacity: 1 !important;
}

/* line 36, ../_sass/components/_pages.scss */
body.home .owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 42, ../_sass/components/_pages.scss */
.featurettes {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.featurettes::after {
  clear: both;
  content: "";
  display: table;
}

/* line 45, ../_sass/components/_pages.scss */
.featurette-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  box-sizing: border-box;
  padding: 2%;
  text-align: center;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.featurette-item:last-child {
  margin-right: 0;
}

/* line 54, ../_sass/components/_pages.scss */
.featurette-item .featurette-title-sub a {
  text-decoration: none;
  color: #444;
}

/* line 59, ../_sass/components/_pages.scss */
.featurette-item .content {
  margin-bottom: 5%;
  padding: 0 5%;
}

/* line 63, ../_sass/components/_pages.scss */
.featurette-item .buttons {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 1% 0;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.featurette-item .buttons::after {
  clear: both;
  content: "";
  display: table;
}

/* line 68, ../_sass/components/_pages.scss */
.featurette-item .buttons div {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: inline;
  text-decoration: none;
  background: #cc3333;
  border-radius: 5px;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.featurette-item .buttons div:last-child {
  margin-right: 0;
}

/* line 76, ../_sass/components/_pages.scss */
.featurette-item .buttons .read-more {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.featurette-item .buttons .read-more:last-child {
  margin-right: 0;
}

/* line 80, ../_sass/components/_pages.scss */
.featurette-item .buttons .fa {
  margin-right: 5px;
}

/* line 83, ../_sass/components/_pages.scss */
.featurette-item .buttons a {
  text-decoration: none;
  color: #fff;
}

/* line 88, ../_sass/components/_pages.scss */
.category-title,
.feed-link {
  display: inline-block;
}

/* line 92, ../_sass/components/_pages.scss */
.feed-link a {
  color: #444;
  margin-left: 5px;
}

/* line 97, ../_sass/components/_pages.scss */
.post-wrapper {
  border-bottom: 1px #ccc solid;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

/* line 102, ../_sass/components/_pages.scss */
.post-wrapper:last-child {
  border-bottom: none;
}

/* line 106, ../_sass/components/_pages.scss */
.post-content img {
  max-width: 100%;
}

/* line 109, ../_sass/components/_pages.scss */
.post-content .post-title {
  margin-bottom: 0;
  text-align: center;
}

/* line 113, ../_sass/components/_pages.scss */
.post-content .post-title a {
  color: #444;
  text-decoration: none;
}

/* line 118, ../_sass/components/_pages.scss */
.post-info {
  padding: 1.2% 0;
  text-align: center;
}

/* line 122, ../_sass/components/_pages.scss */
.post-info .fa {
  margin-right: 5px;
}

/* line 126, ../_sass/components/_pages.scss */
.post-info a {
  text-decoration: none;
}

/* line 130, ../_sass/components/_pages.scss */
.post-tags {
  padding-left: 1.2%;
}

/* line 134, ../_sass/components/_pages.scss */
.tag-label {
  font-weight: bolder;
}

/* line 138, ../_sass/components/_pages.scss */
.post-categories,
.post-categories li {
  display: inline-block;
}

/* line 142, ../_sass/components/_pages.scss */
.post-categories li::after {
  content: ",";
}

/* line 146, ../_sass/components/_pages.scss */
.post-categories li:last-child::after {
  content: "";
}

/* line 150, ../_sass/components/_pages.scss */
.post-categories a {
  text-decoration: none;
  color: #444;
}

/* line 155, ../_sass/components/_pages.scss */
.read-more-block {
  padding: 1% 0;
  text-align: center;
}

/* line 159, ../_sass/components/_pages.scss */
.read-more-block a {
  color: #444;
  font-family: "quicksand-bold";
  text-decoration: none;
}

/* line 165, ../_sass/components/_pages.scss */
.read-more-block .fa {
  margin-left: 5px;
}

/* line 169, ../_sass/components/_pages.scss */
body.single-post .page-title {
  text-align: center;
}

/* line 173, ../_sass/components/_pages.scss */
body.page p,
body.single-post p {
  font-size: 1.4em;
  line-height: 1.2em;
}

/* line 179, ../_sass/components/_pages.scss */
body.author .outer-wrapper img,
body.single-post .post-content img {
  height: auto;
  max-width: 100%;
  margin-top: 20px;
}

/* line 187, ../_sass/components/_pages.scss */
body.author .wp-caption,
body.single-post .wp-caption {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* line 193, ../_sass/components/_pages.scss */
body.author .wp-caption img,
body.single-post .wp-caption img {
  height: auto;
  max-width: 100%;
  margin-top: 20px;
}

/* line 200, ../_sass/components/_pages.scss */
.wp-caption-text {
  font-style: italic;
  color: #444;
  font-size: 1.5rem !important;
}

/* line 206, ../_sass/components/_pages.scss */
.alignright {
  float: right;
  margin: 1% 0% 1% 1.5%;
}

/* line 211, ../_sass/components/_pages.scss */
.alignleft {
  float: left;
  margin: 1% 1.5% 1% 0;
}

/* line 216, ../_sass/components/_pages.scss */
.aligncenter {
  margin: 0 auto;
  text-align: center;
}

/* line 221, ../_sass/components/_pages.scss */
.post-header {
  margin-bottom: 22px;
}

/* line 224, ../_sass/components/_pages.scss */
.post-header-image {
  background-size: cover;
  min-height: 320px;
  background-position: center center;
  position: relative;
}

/* line 230, ../_sass/components/_pages.scss */
.post-header-image .page-title-wrapper {
  position: absolute;
  padding: 1% 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  /* Standard syntax */
}

/* line 243, ../_sass/components/_pages.scss */
.page-title-wrapper .page-title {
  margin-bottom: 0;
}

/* line 247, ../_sass/components/_pages.scss */
.author-wrapper {
  text-align: center;
}

/* line 251, ../_sass/components/_pages.scss */
.category-performance-tracker .view-tracker {
  text-align: center;
  background-color: #cc3333;
  border-radius: 5px;
}

/* line 256, ../_sass/components/_pages.scss */
.category-performance-tracker .view-tracker a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: block;
}

/* line 262, ../_sass/components/_pages.scss */
.category-performance-tracker .view-tracker .fa {
  margin-right: 5px;
}

/* line 1, ../_sass/components/_footer.scss */
body.home .footer-wrapper {
  margin-top: 0;
}

/* line 5, ../_sass/components/_footer.scss */
.footer-wrapper {
  background-color: #444;
  color: #fff;
  padding: 1% 0 1% 0;
  width: 100%;
  margin-top: 2%;
}

/* line 12, ../_sass/components/_footer.scss */
.footer-content .container .left-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.footer-content .container .left-block:last-child {
  margin-right: 0;
}

/* line 16, ../_sass/components/_footer.scss */
.footer-content .container .right-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.footer-content .container .right-block:last-child {
  margin-right: 0;
}

/* line 19, ../_sass/components/_footer.scss */
.bottom-menu {
  position: relative;
}

/* line 22, ../_sass/components/_footer.scss */
.bottom-menu .menu li {
  display: inline-block;
}

/* line 25, ../_sass/components/_footer.scss */
.bottom-menu .menu a {
  color: #fff;
  font-size: 1.2rem;
}
