/* line 4, ../_sass/vendor/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../_sass/vendor/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*
  TOP-MENU
*/
/*
  FOOTER
*/
/*
  TIMELINE
*/
/* line 6, ../_sass/timeline.scss */
.intro-section {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

/* line 11, ../_sass/timeline.scss */
.heading-group {
  padding: 2% 0;
}

/* line 14, ../_sass/timeline.scss */
.heading-group h1 {
  font-size: 8rem;
  margin: .4em 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 1%;
  color: #fff;
}

/* line 22, ../_sass/timeline.scss */
.heading-group h1:first-child {
  width: 18%;
}

/* line 26, ../_sass/timeline.scss */
.heading-group h1:nth-child(2) {
  width: 87%;
}

/* line 30, ../_sass/timeline.scss */
.heading-group h1:last-child {
  width: 37%;
}

/* line 34, ../_sass/timeline.scss */
.timeline-section {
  position: relative;
  padding-top: 4%;
}

/* line 38, ../_sass/timeline.scss */
.timeline-section .menu-container {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2.4em;
}

/* line 45, ../_sass/timeline.scss */
.congress-heading {
  text-align: center;
}

/* line 49, ../_sass/timeline.scss */
.congress-container {
  position: relative;
}

/* line 53, ../_sass/timeline.scss */
.timeline-line {
  height: 100%;
  width: 6px;
  background-color: #ccc;
  position: absolute;
  left: 50.75%;
}

/* line 62, ../_sass/timeline.scss */
.timeline-item {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.timeline-item::after {
  clear: both;
  content: "";
  display: table;
}

/* line 66, ../_sass/timeline.scss */
.timeline-item .date-block,
.timeline-item .content-block {
  position: relative;
  box-sizing: border-box;
}

/* line 72, ../_sass/timeline.scss */
.timeline-item .dot-block {
  position: absolute;
  text-align: center;
  left: 50%;
}

/* line 79, ../_sass/timeline.scss */
.timeline-item.left .date-block,
.timeline-item.right .content-block {
  float: left;
  display: block;
  width: 51.17883%;
}
/* line 81, ../_sass/vendor/neat/grid/_span-columns.scss */
.timeline-item.left .date-block:last-child,
.timeline-item.right .content-block:last-child {
  width: 48.82117%;
}

/* line 84, ../_sass/timeline.scss */
.timeline-item.right .content-block {
  width: 51.17883%;
}

/* line 90, ../_sass/timeline.scss */
.timeline-item.left .content-block,
.timeline-item.right .date-block {
  float: right;
  display: block;
  width: 51.17883%;
}
/* line 81, ../_sass/vendor/neat/grid/_span-columns.scss */
.timeline-item.left .content-block:last-child,
.timeline-item.right .date-block:last-child {
  width: 48.82117%;
}

/* line 95, ../_sass/timeline.scss */
.timeline-item.right .date-block {
  width: 48.82117%;
}

/* line 100, ../_sass/timeline.scss */
.timeline-item.left .date-block,
.timeline-item.right .content-inner {
  text-align: right;
}

/* line 105, ../_sass/timeline.scss */
.timeline-item.left .date-container {
  margin-right: 5%;
}

/* line 109, ../_sass/timeline.scss */
.timeline-item.left .content-inner,
.timeline-item.right .date-container {
  margin-left: 5%;
}

/* line 115, ../_sass/timeline.scss */
.timeline-item.right .date-block {
  text-align: left;
}

/* line 120, ../_sass/timeline.scss */
.timeline-item .content {
  background: #2052DA;
  color: #fff;
  padding: 1.5%;
  position: relative;
  display: inline-block;
}

/* line 128, ../_sass/timeline.scss */
.timeline-item.right .arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #1941ae;
  display: inline-block;
  position: absolute;
  top: 0;
}

/* line 139, ../_sass/timeline.scss */
.timeline-item.left .arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #1941ae;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 95%;
}

/* line 151, ../_sass/timeline.scss */
.timeline-item .dot {
  width: 25px;
  height: 25px;
  border: 5px #ccc solid;
  background-color: #444;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

/* line 161, ../_sass/timeline.scss */
.timeline-item .date-container {
  display: inline-block;
  padding: 1%;
  color: #fff;
  background-color: goldenrod;
}
