/* line 4, ../_sass/vendor/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../_sass/vendor/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*
  TOP-MENU
*/
/*
  FOOTER
*/
/*
  TIMELINE
*/
/*
  CATEGORY PAGES
*/
/* line 7, ../_sass/timeline.scss */
.intro-section {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

/* line 12, ../_sass/timeline.scss */
.heading-group {
  padding: 2% 0;
}

/* line 15, ../_sass/timeline.scss */
.heading-group h1 {
  font-size: 8rem;
  margin: .4em 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 1%;
  color: #fff;
}

/* line 23, ../_sass/timeline.scss */
.heading-group h1:first-child {
  width: 18%;
}

/* line 27, ../_sass/timeline.scss */
.heading-group h1:nth-child(2) {
  width: 87%;
}

/* line 31, ../_sass/timeline.scss */
.heading-group h1:last-child {
  width: 37%;
}

/* line 35, ../_sass/timeline.scss */
.timeline-section {
  position: relative;
  padding-top: 4%;
}

/* line 39, ../_sass/timeline.scss */
.congress-heading {
  text-align: center;
  margin-bottom: 20px;
}

/* line 44, ../_sass/timeline.scss */
.congress-heading.fixed {
  -webkit-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 52px;
  z-index: 998;
}

/* line 53, ../_sass/timeline.scss */
.congress-heading h1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 87.20529%;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.congress-heading h1:last-child {
  margin-right: 0;
}

/* line 56, ../_sass/timeline.scss */
.congress-heading.fixed h1 {
  margin-bottom: 0;
}

/* line 60, ../_sass/timeline.scss */
.congress-heading .inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.congress-heading .inner::after {
  clear: both;
  content: "";
  display: table;
}

/* line 65, ../_sass/timeline.scss */
.menu-trigger-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 10.43705%;
  margin-top: 0.5%;
  z-index: 101;
}
/* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
.menu-trigger-container:last-child {
  margin-right: 0;
}

/* line 71, ../_sass/timeline.scss */
.menu-trigger a {
  text-decoration: none;
  font-size: 1.7em;
  color: #444;
}

/* line 78, ../_sass/timeline.scss */
.menu-trigger .close {
  display: none;
}

/* line 82, ../_sass/timeline.scss */
.menu-trigger.open-menu .close {
  display: block;
}

/* line 86, ../_sass/timeline.scss */
.menu-trigger.open-menu .open {
  display: none;
}

/* line 90, ../_sass/timeline.scss */
.menu-trigger .fa {
  transition: 0.3s ease;
}

/* line 94, ../_sass/timeline.scss */
.menu-trigger:hover .fa {
  transform: rotate(270deg);
  transition: 0.3s ease;
}

/* line 98, ../_sass/timeline.scss */
.congress-container {
  position: relative;
}

/* line 102, ../_sass/timeline.scss */
.timeline-line {
  height: 100%;
  width: 6px;
  background-color: #cc3333;
  position: absolute;
  left: 50.75%;
}

/* line 111, ../_sass/timeline.scss */
.timeline-item {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
/* line 20, ../_sass/vendor/bourbon/addons/_clearfix.scss */
.timeline-item::after {
  clear: both;
  content: "";
  display: table;
}

/* line 116, ../_sass/timeline.scss */
.timeline-item.marker h2 {
  text-align: center;
  z-index: 100;
  position: relative;
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
}

/* line 125, ../_sass/timeline.scss */
.timeline-item .date-block,
.timeline-item .content-block {
  position: relative;
  box-sizing: border-box;
}

/* line 131, ../_sass/timeline.scss */
.timeline-item .dot-block {
  position: absolute;
  text-align: center;
  left: 50%;
}

/* line 138, ../_sass/timeline.scss */
.timeline-item.left .date-block,
.timeline-item.right .content-block {
  float: left;
  display: block;
  width: 51.17883%;
}
/* line 81, ../_sass/vendor/neat/grid/_span-columns.scss */
.timeline-item.left .date-block:last-child,
.timeline-item.right .content-block:last-child {
  width: 48.82117%;
}

/* line 143, ../_sass/timeline.scss */
.timeline-item.right .content-block {
  width: 51.17883%;
}

/* line 149, ../_sass/timeline.scss */
.timeline-item.left .content-block,
.timeline-item.right .date-block {
  float: right;
  display: block;
  width: 51.17883%;
}
/* line 81, ../_sass/vendor/neat/grid/_span-columns.scss */
.timeline-item.left .content-block:last-child,
.timeline-item.right .date-block:last-child {
  width: 48.82117%;
}

/* line 154, ../_sass/timeline.scss */
.timeline-item.right .date-block {
  width: 48.82117%;
}

/* line 159, ../_sass/timeline.scss */
.timeline-item.left .date-block,
.timeline-item.right .content-inner {
  text-align: right;
}

/* line 164, ../_sass/timeline.scss */
.timeline-item.left .date-container {
  margin-right: 5%;
}

/* line 168, ../_sass/timeline.scss */
.timeline-item.left .content-inner,
.timeline-item.right .date-container {
  margin-left: 5%;
}

/* line 174, ../_sass/timeline.scss */
.timeline-item.right .date-block {
  text-align: left;
}

/* line 179, ../_sass/timeline.scss */
.timeline-item .content {
  background: #444;
  color: #fff;
  padding: 1.5%;
  position: relative;
  display: inline-block;
}

/* line 187, ../_sass/timeline.scss */
.timeline-item.right .arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #2b2b2b;
  display: inline-block;
  position: absolute;
  top: 0;
}

/* line 198, ../_sass/timeline.scss */
.timeline-item.left .arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #2b2b2b;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 95%;
}

/* line 210, ../_sass/timeline.scss */
.timeline-item .dot {
  width: 25px;
  height: 25px;
  border: 5px #cc3333 solid;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

/* line 220, ../_sass/timeline.scss */
.timeline-item .dot:hover {
  transform: scale(1.4);
  transition: 0.1s ease;
}

/* line 226, ../_sass/timeline.scss */
.timeline-item .date-container {
  display: inline-block;
  padding: 1%;
  color: #fff;
  background-color: #cc3333;
  font-weight: bolder;
}

@media screen and (min-device-width: 320px) and (max-device-width: 569px), screen and (min-width: 320px) and (max-width: 569px) {
  /* line 236, ../_sass/timeline.scss */
  .congress-heading.fixed {
    top: 24px;
  }

  /* line 240, ../_sass/timeline.scss */
  .timeline-item:nth-child(2) {
    margin-top: 20px;
  }

  /* line 244, ../_sass/timeline.scss */
  .timeline-item .dot-block {
    display: none;
  }

  /* line 248, ../_sass/timeline.scss */
  .timeline-item.left .date-block,
  .timeline-item.left .content-block,
  .timeline-item.right .date-block,
  .timeline-item.right .content-block {
    width: 100% !important;
  }

  /* line 255, ../_sass/timeline.scss */
  .timeline-item .content {
    display: block;
  }

  /* line 259, ../_sass/timeline.scss */
  .timeline-item.left .arrow,
  .timeline-item.left .arrow,
  .timeline-item.right .arrow,
  .timeline-item.right .arrow {
    display: none;
  }

  /* line 266, ../_sass/timeline.scss */
  .timeline-item .date-container {
    display: block;
    text-align: center;
  }

  /* line 271, ../_sass/timeline.scss */
  .timeline-item.left .date-container {
    margin-right: 0;
  }

  /* line 275, ../_sass/timeline.scss */
  .timeline-item.left .content-inner,
  .timeline-item.right .date-container {
    margin-left: 0;
  }

  /* line 280, ../_sass/timeline.scss */
  .timeline-item.right .content-inner {
    text-align: left;
  }

  /* line 284, ../_sass/timeline.scss */
  .congress-heading h1,
  .menu-trigger-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 89, ../_sass/vendor/neat/grid/_span-columns.scss */
  .congress-heading h1:last-child,
  .menu-trigger-container:last-child {
    margin-right: 0;
  }
}
