.footer-wrapper {
  background-color: $footer-bg;
  color: $footer-text-color;
  padding: 1% 0 1% 0;
  width: 100%;
  margin-top: 2%;
}
    .footer-content .container .left-block {
      @include span-columns(7);
    }

    .footer-content .container .right-block {
      @include span-columns(5);
    }
  .bottom-menu {
    position: relative;
  }
    .bottom-menu .menu li {
      display: inline-block;
    }
    .bottom-menu .menu a {
      color: #fff;
      font-size: 1.2rem;
    }
