.navi-wrapper {
  background-color: $topm-bg-color;
  position: relative;
}
.navi-wrapper.fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index:999;
}
  .navi-wrapper .menu-ifoi-container,
  .navi-wrapper > div {
    @include outer-container;
  }
  .navi-wrapper .trigger {
    display: none;
    text-align: center;
    cursor: pointer;
    color: $topm-text-color;
  }
  .navi-wrapper .menu {
    list-style: none;
    text-align: left;
  }
    .navi-wrapper .menu li {
      display: inline-block;
      margin: 0 0.5%;
      padding: .3% .5%;
      position: relative;
      min-width: 18%;
      text-align: center;
      transition: 250ms ease;
    }
    .navi-wrapper li:hover {
      background: darken($topm-bg-color, 10%);
    }

    .navi-wrapper li.current_page_item,
    .navi-wrapper li.current-menu-item {
      background: darken($topm-bg-color, 10%);
    }

      .navi-wrapper li.current-menu-item a,
      .navi-wrapper li.current_page_item a {
        font-style:italic;
      }

    .navi-wrapper a {
      text-transform:uppercase;
      text-decoration: none;
      color: $topm-text-color;
      font-family: $topm-font-family;
    }

    .navi-wrapper .menu a[title="Performance Tracker"] {
      font-weight: bolder;
    }

    .navi-wrapper .sub-menu {
      //display: none;
      position: absolute;
      z-index: 100;
      background-color: $topm-bg-color;
      padding-top: 10px;
      margin-top: 3px;
      left: 0;
      opacity: 0;
      transition: 250ms ease;
      visibility: hidden;
    }
      .navi-wrapper .sub-menu > li {
        width:100%;
        padding: 0 27%;
      }
    .navi-wrapper li:hover > .sub-menu {
      //display: block;
      opacity: 1;
      visibility: visible;
    }

.page-header-wrapper {
  background-color: #fff;
}
.page-header {
  @include outer-container;
  padding: .5% 0;
  background: #fff;
}
  .page-header .logo-wrapper {
    @include span-columns(4);
  }
    .page-header .logo-wrapper img {
      width:40%;
    }
  .page-header .search-wrapper {
    @include span-columns(8);
    text-align: right;
  }
    .search-form {
      margin-top: 2%;
    }
    .search-form label {
      border: 2px #444 solid;
      padding: 1%;
    }

    .search-form input[type="search"] {
      border:none;
      padding:0;
    }

    .search-form input[type="search"]:focus {
      outline:none;
    }

    .search-form button {
      background: none;
      border: none;
      cursor: pointer;
    }

.cat-header.congtrack {
  min-height: 320px;
  color: #fff;
  margin-bottom: 1%;
}
  .cat-header.congtrack .content {
    padding: 1.5% 0;
  }
    .cat-header.congtrack a {
      color: inherit;
    }

  .cat-header.congtrack .latest {

  }
  .cat-header.congtrack .latest-title {
      margin-bottom: 0;
  }
    .cat-header.congtrack .latest p {
      font-size: 1.4em;
    }
    .cat-header.congtrack .latest-info {
        padding: 0 0 1.2% 0;
    }

/*
  MEDIA QUERIES
*/

@media screen and (min-device-width: 320px) and (max-device-width: 568px),
screen and (min-width: 320px) and (max-width: 568px) {

  .navi-wrapper .trigger {
    display: block;
  }

  .navi-wrapper .trigger .fa {
    transition: all 0.5s;
    margin-right: 5px;
  }

  .navi-wrapper .trigger.twist .fa {
    transform: rotate(90deg);
  }

  .navi-wrapper .menu.expand {
    opacity: 1;
    visibility:visible;

    max-height: 500px;
  }

  .navi-wrapper .menu {
    opacity: 0;
    visibility:hidden;
    transition: 200ms ease;
    max-height: 0;
  }

  .navi-wrapper .menu li {
    display: block;
    text-align: center;
  }

  .navi-wrapper .menu li:hover .sub-menu {
    position:static;
  }

  .navi-wrapper .menu li.menu-item-has-children > a::after {
    content: " >";
    font-weight:bold;
  }
}
