.header-main {
  position: relative;
  background-color: $topm-bg-color;
  padding: 4px 0;
}
  .header-main.fixed {
    left:0;
    position: fixed;
    top:0;
    width: 100%;
    z-index:999;
  }
  .header-main .header-inner {
    @include outer-container(85%);
    background-color: inherit;
  }

  .header-inner .logo-wrapper {
    @include span-columns(2);
    @include omega;

  }
    .header-inner .logo-content {
      background-repeat: no-repeat;
      background-position: -5px -2px;
      background-size:cover;
      cursor: pointer;
      display: block;
      height: 44px;
      width: 150px;
    }
    .header-inner .logo-content.reg {
      background-position: -5px -135px;
      height: auto;
      width: 120px;
    }

  .navi-wrapper {
    @include span-columns(8);
    background-color: $topm-bg-color;
    position: relative;
    margin-top: $topm-top-offset;
  }

  .header-inner .search-wrapper {
    color: $topm-text-color;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 25%;
  }
    .search-wrapper .search-trigger .fa {
      margin-right: 5px;
    }

      .search-content .search-trigger {
        display: inline-block;
      }
        .search-trigger .close-search-message {
          display: none;
        }
        .search-trigger .open-search-message {
          display: inline-block;
        }
        .search-trigger.search-active .open-search-message {
          display: none;
        }
        .search-trigger.search-active .close-search-message {
          display: inline-block;
        }
      .search-content .search-content-inner {
        display: none;
      }
      .search-content .search-form {
        background-color: #fff;
        border: 2px #ccc solid;
        border-radius: 5px;
        display: inline-block;
        padding: 1px 2px;
      }
        .search-content .search-form button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
        }
        .search-content .search-form input[type="search"] {
          border: none;
        }
        .search-content .search-form .fa {
          margin-right:0;
        }

      .search-content.expand .search-content-inner {
        display: inline-block;
      }

  .navi-wrapper .trigger {
    display: none;
    text-align: center;
    cursor: pointer;
    color: $topm-text-color;
  }
  .navi-wrapper .menu {
    list-style: none;
    text-align: left;
    background-color: $topm-bg-color;
  }
    .navi-wrapper .menu li {
      display: inline-block;
      margin: 0 0.5%;
      padding: .3% 1%;
      position: relative;
      text-align: center;
      transition: 250ms ease;
      border-radius: 5px;
    }

    .navi-wrapper li.current_page_item,
    .navi-wrapper li.current-menu-item {
      background-color: darken($topm-bg-color, 10%);
    }


      .navi-wrapper li.current-menu-item > a,
      .navi-wrapper li.current_page_item > a {
        font-weight: bolder;

      }

    .navi-wrapper a {
      text-transform:uppercase;
      text-decoration: none;
      color: $topm-text-color;
      font-family: $topm-font-family;
    }

    .navi-wrapper .menu a[title="Performance Tracker"] {
      font-weight: bolder;
    }

    .navi-wrapper .sub-menu {
      position: absolute;
      z-index: 100;
      background-color: $topm-bg-color;
      padding-top: 10px;
      margin-top: 3px;
      left: 0;
      opacity: 0;
      transition: 250ms ease;
      visibility: hidden;
    }
      .navi-wrapper .sub-menu > li {
        width:100%;
        padding: 0 27%;
        margin-left: 0;
      }
    .navi-wrapper li:hover > .sub-menu {
      opacity: 1;
      visibility: visible;
    }


.cat-header.congtrack {
  min-height: $cat-header-height;
  color: #fff;
  margin-bottom: 1%;
}
  .cat-header.congtrack .content {
    padding: 1.5% 0;
  }
    .cat-header.congtrack a {
      color: inherit;
    }

  .cat-header.congtrack .latest {

  }
  .cat-header.congtrack .latest-title {
      margin-bottom: 0;
  }
    .cat-header.congtrack .latest p {
      font-size: 1.4em;
    }
    .cat-header.congtrack .latest-info {
        padding: 0 0 1.2% 0;
    }

/*
  MEDIA QUERIES
*/

@include bp(small) {

  .header-inner {
    @include outer-container(95%);
  }
  .header-inner .logo-wrapper {
    @include span-columns(3);
  }
  .header-inner .search-wrapper {
    @include span-columns(5);
  }

  .header-inner .navi-wrapper {
    @include span-columns(2);
  }

  .header-inner.expand .search-content {
    position: absolute;
    top: 100%;
    z-index: 998;
    width: 100%;
    background-color: #cc3333;
    left: 0;
    margin: 0 auto;
  }

  .header-inner .logo-wrapper .logo-content {
    margin: 0;;
    width: 90px;
    height: 25px;
  }

  .navi-wrapper .trigger {
    display: block;
  }

  .navi-wrapper .trigger .fa {
    transition: all 0.5s;
    margin-right: 5px;
  }

  .navi-wrapper .trigger.twist .fa {
    transform: rotate(90deg);
  }

  .navi-wrapper .menu {
    opacity: 0;
    visibility:hidden;
    transition: 200ms ease;
    max-height: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
  }

  .navi-wrapper .menu.expand {
    opacity: 1;
    visibility:visible;

    max-height: 500px;
  }

  .navi-wrapper li.current_page_item,
  .navi-wrapper li.current-menu-item {
    background-color: $topm-bg-color;
  }

  .navi-wrapper .menu li {
    display: block;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .navi-wrapper .menu li .sub-menu {
    display: block;
    visibility: visible;
    position: static;
    padding-top: 0;
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }
  .navi-wrapper .menu li .sub-menu a {
    color:#fff;
    font-size: 0.9em;
  }

  .navi-wrapper .menu li.menu-item-has-children > a::after {
    content: " >";
    font-weight:bold;
  }
}
